---
nodes:
    - name: centos6
      hostname: centos6.node.vagrant
      box: bento/centos-6.9
      ip: 192.168.41.42
    - name: centos7
      hostname: centos7.node.vagrant
      box: bento/centos-7.4
      ip: 192.168.41.43
    - name: debian8
      hostname: debian.node.vagrant
      box: bento/debian-8.9
      ip: 192.168.41.44
    - name: debian9
      hostname: debian.node.vagrant
      box: bento/debian-9.1
      ip: 192.168.41.45
    - name: ubuntu1404
      hostname: ubuntu1404.node.vagrant
      box: bento/ubuntu-14.04
      ip: 192.168.41.46
    - name: ubuntu1604
      hostname: ubuntu1604.node.vagrant
      box: bento/ubuntu-16.04
      ip: 192.168.41.47
virtualbox_group: '/Vagrant/node'
